body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: black;
    color: white;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.inter-title {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.section-container {
    scroll-snap-type: both mandatory;
    overscroll-behavior-x: contain;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        display: none;
    }
    
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.section-container section {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

h1 {
    text-align: center;
}

.section-container section.split-section {
    padding-right: 80px;
    flex-direction: row;
}

.split-section h1 {
    text-align: left;
}

.split-section div {
    display: block;
    flex: 1 1 55%;
}

.split-section div + div {
    margin-left: 40px;
}

.timeline {
    position: absolute;
    top: 125px;
    right: 40px;
    width: 4px;
    height: calc(100vh - 250px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: white;
    border-radius: 2px;
    z-index: 0;
    pointer-events: none;
}

.timeline-dot {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    background-color: white;
    z-index: 1;
    border-radius: 50%;
    cursor: pointer;
}

.primary {
    background-color: rgb(29, 29, 29);
    padding: 30px;
    
    /* width: auto;
    min-width: 20%;
    max-height: 80%;
    height: auto; */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.primary img, .primary iframe {
    display: block;
    max-width: 40vw;
    max-height: 60vh;
    width: 100%;
    height: auto;
    object-fit: contain;
    margin: auto;
}

.primary img + p, .primary iframe + p {
    margin-top: 40px;
}